@charset "UTF-8";

*{

}

body{
    height: 98vh;
    border: 1px dashed black;
    background-image:url(arquivos-de-imagem.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center center;
}