*{
 
    font-family: Arial, Helvetica, sans-serif;
}



body{
   background-image: linear-gradient(to right,#2A8C82,#275950);
}
 
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 15px #2a8c8281;
    width: 500px;
    padding: 10px;
    margin: auto;
}



h1{
    color:#41BFB3 ;
    text-align: center;
    text-shadow: black;
}


h2{
    color: #2A8C82;
    
}


p{
    text-align: justify;
}