@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



p{
     font-family: "Kaushan Script", cursive;;
     font-weight: 400;
     font-style: normal;

}