@charset "UFT-8";

*{
 margin:0px;
 padding:0px;
}


body{
    height: 100vh;
   /* background-color: black;
    background-image: url(./assets/wallpaper002.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;*/

    background: black url(assets/wallpaper002.jpg) no-repeat center center fixed;
    background-size: cover;
}


main{
    
    background-color: white;
    margin: auto;
    padding: 10px;
    max-width: 400px;
    border: 1px solid darkblue;
    border-radius: 15px;
    text-align: justify;
}